<div class="border-bottom border-dark border-1">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 py-1 py-md-5 text-center text-md-start">
        <h1 class="display-1">Tech Talk.</h1>
        <p class="fs-4 lh-1 text-muted fw-500 pb-5">
          "Empowering Your Journey with Smart Solutions for a Brighter Future"
        </p>
        <button type="button" class="btn btn-primary rounded-pill fw-500 fs-5 px-4">Start Reading</button>
      </div>
    </div>
  </div>
</div>
