@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&family=Barlow:wght@400;500;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.logo{
    font-family: 'Archivo', sans-serif;
    letter-spacing: -1.5px;
}

.test{
    
    font-family: 'Merriweather', serif;
}

html, body{
    font-family: 'Barlow', sans-serif;
}
.fw-500{
    font-weight: 500 !important;
}
.infscroll-title {
    font-size: 22px;
    letter-spacing: -0.6px;
}

@media only screen and (max-width:768px){
    .infscroll-title {
        font-size: 0.9375rem;
        letter-spacing: -0.0px;
    }
    .infscroll-author, .infscroll-date {
        font-size: 0.8125rem;
    }
}
